<form [formGroup]="form" class="grid" (submit)="searchParticipant()">
  <label>Nom <input type="text" formControlName="lastName" /></label>
  <label>Prénom <input type="text" formControlName="firstName" /></label>
  <label>Ville <input type="text" formControlName="city" /></label>
  <label>Email <input type="email" formControlName="email" /></label>
  <label>Téléphone <input type="text" formControlName="phone" /></label>

  <div class="actions">
    <button type="button" (click)="reset()">Réinitialiser</button>
    <button type="submit">Rechercher</button>
  </div>
</form>
