<div class="participants-list">
  @for( p of participants(); track p.id){
  <div class="ons-card participant-card">
    <div class="participant-info">
      <h3>{{ p.firstName }} {{ p.lastName }}</h3>
      <p><strong>Ville :</strong> {{ p.address?.city || "Non renseignée" }}</p>
      <p><strong>Email :</strong> {{ p.email || "Non renseigné" }}</p>
      <p><strong>Téléphone :</strong> {{ p.phone || "Non renseigné" }}</p>
    </div>
    <div class="participant-actions">
      <div class="participant-actions">
        <button class="ons-button ons-button--edit" (click)="edit(p.id)">
          ✏️ Modifier
        </button>
        <button class="ons-button ons-button--delete" (click)="delete(p.id)">
          🗑️ Supprimer
        </button>
      </div>
    </div>
  </div>
  }@empty {
  <div class="ons-empty">Aucun participant trouvé.</div>
  }
</div>
